@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    background-color: white;
    width: 10.59cm;
    height: 10cm;
    display: grid;
    place-items: center;
    position: relative;
    top: -1.23cm;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.301);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.301);
	        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.301);
            text-align: center;
}

.svg-img {
    position: relative;
    top: 0cm;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sum-bold {
    position: absolute;
    top: 1cm;
    left: 2.3cm;
    font-size: 0.7cm;
    font-weight: 900;
    font-family: Red-Hat-Display, sans-serif;
}

.sum-text {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    font-family: Red-Hat-Display, sans-serif;
    position: absolute;
    top: 2.5cm;
    left: 1.3cm;
    width: 300px;
    text-align: center;
    font-size: 14px;
}

.plan-bg {
    background-color: hsl(225, 100%, 98%);
    width: 8cm;
    height: 2.2cm;
    position: relative;
    top: 0.8cm;
}

.btn-process {
    position: absolute;
    top: 15cm;
}

.annual-text {
    font-family: Red-Hat-Display, sans-serif;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    top: 0.7cm;
    left: -0.7cm;
}

.payment {
    position: relative; 
    top: 0.9cm;
    left: -0.8cm;
    font-size: 15px;
    font-family: Red-Hat-Display, sans-serif;
    color: hsl(224, 23%, 55%); 
}

._svg {
    transform: translate(-110px, -18px);
}

.plan-change {
    position: absolute;
    top: 0.9cm;
    left: 6.3cm;
    font-weight: 700;
    font-family: Red-Hat-Display, sans-serif;
    font-size: 14px;
}